package commands

import "github.com/bwmarrin/discordgo"

/*
	This is the ????
	Response: embed :: ??
	Permission: all

 */

func CMD_DOMMAND_WHICH_EXECUTED(s *discordgo.Session, m *discordgo.MessageCreate, language string)  {
	embed := &discordgo.MessageEmbed{}
	cmdType := ""

	if (language == "de"){
		cmdType = "NAME IN DE"
		embed = &discordgo.MessageEmbed{

			Color:       0x4F545C, // Grey
			Title:     "<:support:386227216159211531> **"+cmdType+"** | Support++",
			Description: "TEXT IN DE",
		}
	}else{
		cmdType = "NAME IN EN"
		embed = &discordgo.MessageEmbed{

			Color:       0x4F545C, // Grey
			Title:     "<:support:386227216159211531> **"+cmdType+"** | Support++",
			Description: "TEXT IN EN",
		}
	}

	s.ChannelMessageSendEmbed(m.ChannelID, embed)

}
